<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="65055ClemensReijnen.VSOTeams" Publisher="CN=83ACF7E7-27FB-43AF-B199-EA233DD2B7D0" Version="1.1.0.0" />
  <Properties>
    <DisplayName>VSOTeams</DisplayName>
    <PublisherDisplayName>Clemens Reijnen</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VSOTeams.Windows.App">
      <m2:VisualElements DisplayName="Visual Studio Online Teams" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="View Visual Studio Online projects, teams, teammbers and users. Call, mail and chat with teammembers." ForegroundText="light" BackgroundColor="#D9D9D9" ToastCapable="true">
        <m2:DefaultTile ShortName="Visual Studio Online Teams">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="default" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>